.app{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.loader{
    position: absolute;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.center-container{
    /* background-color: green; */
    top: 100px;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px 10px #dfdfdf;

    width: 75%;
    min-width: 300px;
    padding: 5px;
}

.center-container>div{
    /* border: 7px solid aqua; */
    box-shadow: 0 0 10px 5px #dfdfdf inset, 0 0 10px 0 #dfdfdf;
    border-radius: 5px;
    /* margin: 5px;/ */
    display: flex;
    justify-content: space-evenly;
    /* height: fit-content; */
    flex-wrap: wrap;
    min-width: 250px;
    padding: 5px;
}

.product-details{
    width: 45%;
    min-width: 250px;
    /* border: 3px solid yellowgreen; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* justify-content: space-evenly; */
}

.product-details>*{
    min-height: 40px;
    margin: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    height: fit-content; 
}

.product-image{
    width: 45%;
    min-width: 250px;
    /* border: 3px solid yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.product-image>*{
    margin: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 40px;
    height: fit-content;
    align-items: center;
}

/* .product-image>input{
    display: none;
} */

.product-image>div>img{
    width: 200px;
    height: 200px;
}

.upload-image-button{
    display: flex;
    cursor: pointer;
}

.tags{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    border: none;
}
.tags>span{
    box-shadow: 0 0 10px 5px #dfdfdf inset, 0 5px 10px 0 #dfdfdf;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    color: grey;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input:focus{
    outline-color: #dfdfdf;
    box-shadow: 0 0 10px 10px #dfdfdf;
}

.error{
    border: none;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px;
}